@media (max-width:1050px) {

    .header {
        &_container {
            flex-direction: column;

            &--content {
                margin-bottom: 50px;
            }

            &--img {
                width: 450px;
                height: 450px;
            }
        }
    }

    .categories {

        &_title {
            text-align: center;
        }

        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            justify-items: center;
        }
    }
}

@media (max-width:1145px) {
    .vacancies {

        &_container {
            margin: 0 auto;

            &--card {
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

@media (max-width:915px) {
    .vacancies {

        &_container {

            &--card {

                &--content {
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}

@media (max-width:700px) {

    .header {

        &_top {

            &--nav {
                display: none;
            }

            &--box {
                display: none;
            }
        }

        &_menu {
            display: block;
        }
    }

    .categories {

        &_title {
            text-align: center;
        }

        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            justify-items: center;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 52px;

        &_card {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--logo {
                width: 131.5px;
                height: 30px;
            }

            &--text {
                text-align: center;
                margin-top: 20px;
            }

            &--year {
                margin-top: 10px;
                text-align: center;
            }

            &--title {
                text-align: center;
            }

            &--box {
                align-items: center;
            }
        }
    }
}

@media (max-width:570px) {
    .vacancies {

        &_title {
            text-align: center;
        }

        &_container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            justify-items: center;

            &--card {
                padding: 30px 53.5px;

                &--content {
                    gap: 30px;

                    &--left {
                        flex-direction: column;
                        align-items: center;

                        &--info {
                            flex-direction: column;
                            align-items: center;
                        }
                    }

                    &--right {
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;

                        &--requirements {
                            flex-direction: column;
                            align-items: center;
                            gap: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:560px) {
    .header {

        &_container {

            &--content {
                align-items: center;

                &--box {
                    width: 290px;

                    &--button {
                        width: 68px;
                        height: 45px;

                        &--span {
                            display: none;
                        }
                    }
                }

                &--title {
                    text-align: center;
                    font-size: 24px;
                }

                &--text {
                    width: 290px;
                    text-align: center;
                    font-size: 16px;
                }

                &--recomendations {
                    flex-direction: column;

                    &--title {
                        margin-bottom: 15px;
                    }
                }
            }

            &--img {
                width: 252px;
                height: 258px;
            }
        }
    }

    .categories {

        &_title {
            text-align: center;
        }

        &_container {
            display: flex;
            flex-direction: column;
        }
    }

    .mailing {

        &_container {

            &--title {
                width: 290px;
                font-size: 24px;
            }

            &--text {
                width: 290px;
            }

            &--box {
                width: 290px;
                gap: 0;

                &--input {
                    width: 205px;
                }

                &--button {
                    width: 75px;

                    &--span {
                        display: none;
                    }
                }
            }
        }
    }
}