@media (max-width:1050px) {

    .header {
        &_container {

            flex-direction: column;

            &--content {
                margin-bottom: 50px;
            }

            &--img {
                width: 450px;
                height: 450px;
            }
        }
    }

    .categories {

        &_title {
            text-align: center;
        }
        
        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }
}

@media (max-width:700px) {

    .header {

        &_top {

            &--nav {
                display: none;
            }

            &--menu {
                display: block;
            }

            &--box {
                display: none;
            }
        }
    }
}

@media (max-width:560px) {
    .header {

        &_container {

            &--content {
                align-items: center;

                &--box {
                    width: 290px;

                    &--button {
                        width: 68px;
                        height: 45px;

                        &--span {
                            display: none;
                        }
                    }
                }

                &--title {
                    text-align: center;
                    font-size: 24px;
                }

                &--text {
                    width: 290px;
                    text-align: center;
                    font-size: 16px;
                }

                &--recomendations {
                    flex-direction: column;

                    &--title {
                        margin-bottom: 15px;
                    }
                }
            }

            &--img {
                width: 252px;
                height: 258px;
            }
        }
    }

    .categories {

        &_title {
            text-align: center;
        }
        
        &_container {
            display: flex;
            flex-direction: column;
        }
    }
}