.header {
    background-color: #F2F3F6;
    padding: 0px 15px;

    &_top {
        width: 100%;
        max-width: 1145px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 44px;
        padding-bottom: 75px;

        &--nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            &--link {
                font-family: Fira Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #111238;
                transition: 0.3s;
                text-decoration: none;

                &:hover {
                    color: #1A75E8;
                }
            }
        }

        &--box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;

            &--buttonFirst {
                background-color: transparent;
                border: none;
                font-family: Fira Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                cursor: pointer;
                font-family: Fira Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;

            }

            &--buttonSecond {
                width: 155px;
                height: 49px;
                background-color: #1A75E8;
                border: none;
                border-radius: 5px;
                color: #FFFFFF;
                cursor: pointer;
                font-family: Fira Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
            }
        }

        &--menu {
            display: none;
        }
    }

    &_container {
        width: 100%;
        max-width: 1132px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 56px;

        &--content {
            width: 100%;
            max-width: 460px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &--title {
                font-family: Fira Sans;
                font-weight: 900;
                font-size: 44px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #111238;
                margin-bottom: 15px;
            }

            &--text {
                font-family: Fira Sans;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0%;
                color: #111238;
                margin-bottom: 30px;
            }

            &--box {
                display: flex;
                align-items: center;
                width: 447px;
                height: 70px;
                background-color: #FFFFFF;
                border: 1px solid #D1D1D11A;
                border-radius: 5px;
                box-shadow: 0px 4px 25px 0px #0F11381A;
                margin-bottom: 25px;

                &--input {
                    border: none;
                    font-family: Fira Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    padding-left: 25px;
                    width: 211px;

                    &::placeholder {
                        color: #B2B2B2;
                    }
                }

                &--button {
                    width: 211px;
                    height: 49px;
                    background-color: #1A75E8;
                    border: none;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-family: Fira Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    padding-left: 30px;
                    cursor: pointer;
                }
            }

            &--recomendations {
                width: 100%;
                max-width: 345px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--title {
                    font-family: Fira Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #B2B2B2;
                }

                &--box {
                    width: 100%;
                    max-width: 259px;
                    justify-content: space-between;
                    align-items: center;

                    &--button {
                        border: 1px solid #B2B2B2;
                        background-color: transparent;
                        width: 83px;
                        height: 27px;
                        border-radius: 5px;
                        font-family: Fira Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #B2B2B2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}