.categories {
    margin: 0 auto;
    width: 100%;
    max-width: 1146px;
    margin-top: 70px;
    padding: 0px 15px;

    &_title {
        font-family: Fira Sans;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #111238;
        margin-bottom: 40px;
    }

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--card {
            width: 166px;
            height: 128px;
            background-color: #F2F3F6;
            border-radius: 10px;
            transition: 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 35px 0;

            &:hover {
                background-color: #1A75E8;
            }

            &--svg {
                fill: #111238;
                transition: 0.3s ease-in-out;
                margin-bottom: 15px;

            }

            &:hover .categories_container--card--svg {
                fill: #FFFFFF;
            }

            &--subtitle {
                font-family: Fira Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #111238;
                transition: 0.3s ease-in-out;
            }

            &:hover .categories_container--card--subtitle {
                color: #FFFFFF;
            }
        }
    }
}